mixin breadcurmb(title, navigations)
  .container-fluid.page-header.py-5
    h1.text-center.text-white.display-6= title
    ol.breadcrumb.justify-content-center.mb-0
      each navigation in navigations
        li.breadcrumb-item
          a(href=navigation.href)= navigation.text
