doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title #{t('header.title')}
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords", content="")
    meta(name="description", content="")

    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@600;800&display=swap", rel="stylesheet")

    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.4/css/all.css")
    link(rel="stylesheet", href="/public/css/bootstrap-icons.css")

    link(href="/public/lib/lightbox/css/lightbox.min.css", rel="stylesheet")
    link(href="/public/lib/owlcarousel/assets/owl.carousel.min.css", rel="stylesheet")

    link(href="/public/css/bootstrap.min.css", rel="stylesheet")

    link(rel='stylesheet' , href='/public/css/style.css' )

    script(src='/public/js/jquery.min.js')
    script(src='/public/js/bootstrap.bundle.min.js' async="async")
    script(src='/public/lib/easing/easing.min.js')
    script(src='/public/lib/waypoints/waypoints.min.js')
    script(src='/public/lib/lightbox/js/lightbox.min.js')
    script(src='/public/lib/owlcarousel/owl.carousel.min.js')
    script(src='/public/js/main.js')
  
  body
    include _header

    block content 

    include _footer
