doctype html
head
  title
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  link(rel='stylesheet' , href='/public/css/active.mail.css' )
  
  p #{emailData.content.text}
  a(href=emailData.content.resetPasswordUrl) #{emailData.content.link}
